@import '~antd-mobile/lib/style/themes/default.less';

@import '~antd-mobile/lib/button/style/index';
@import '~antd-mobile/lib/input-item/style/index';
@import '~antd-mobile/lib/list/style/index';
@import '~antd-mobile/lib/switch/style/index';
@import '~antd-mobile/lib/white-space/style/index';
@import '~antd-mobile/lib/wing-blank/style/index';
@import '~antd-mobile/lib/modal/style/index';
@import '~antd-mobile/lib/image-picker/style/index.less';
@import '~antd-mobile/lib/textarea-item/style/index';
@import '~antd-mobile/lib/picker/style/index.less';
@import '~antd-mobile/lib/picker-view/style/index';
@import '~antd-mobile/lib/picker-view/style/picker';
@import '~antd-mobile/lib/flex/style/index.less';
@import '~antd-mobile/lib/list/style/index.less';

@alita-dform-title-font-size: @input-font-size; // 标题大小
@alita-dform-title-color: #000; // 标题颜色
@alita-dform-value-color: #000; // 内容颜色
@alita-dform-value-font-size: @input-font-size; // 内容大小
@alita-dform-radio-color: #108ee9; // 按钮样式
@alita-dform-radio-font-color: #fff; // 按钮文字样式
@alita-dform-placeholder: #888; // placeholder 样式
@color-text-disabled: #000; // 不可编辑样式
@alita-dform-height: 44 * @hd; // 表单的高
